{% extends "base.html" %}
{% from '_macros.html'  import render_field %}
{% block page_content %}

<div class="container">
	<div class="page-header">
<h1>Hello Upcoming Developer {% if params["Name"] %} {{ params["Name"] }}  {% endif %}</h1>
</div>
</div>

<div class="container">

<form action="" method="POST" name='feedback' >

{{ form.hidden_tag() }}
{{	render_field(form.email,size=50,class="form-control",placeholder="example@mail.com")  }}
{{	render_field(form.feedback,rows=5,cols=50,placeholder="Great Work !! I look forward to using this site for all my Social Blogging needs." , class="form-control")  }}
{{ form.submit(class="btn btn-lg btn-primary btn-block") }}



</form>

</div>

{% endblock %}